{% extends "template.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
<form method=post>
  <div class="form-group ms-4 p-2 my-auto w-25">
    <label class="form-label">{{ form.username.label }}</label>
    {{ form.username(class="form-control") }}
    <label class="form-label">{{ form.email.label }}</label>
    {{ form.email(class="form-control") }}
    <label class="form-label">{{ form.password.label }}</label>
    {{ form.password(class="form-control") }}
    <label class="form-label">{{ form.confirm.label }}</label>
    {{ form.confirm(class="form-control") }}
    <button class="btn btn-primary my-2" type="submit">Register</button>
  </div>

</form>
{% endblock content %}
